<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome to Japan Page</h1>
        <a class="btn btn-primary btn-large" href="/citiesnew">Add New City</a>
        </div>
    </header>
    
    <p><a href="/cities">View all cities</a></p>
</div>
<% include partials/footer %>